.mainWrapper {
  // width: calc(100vw - 17px);
  // height: calc(100vh - 17px);
  display: grid;
  height: 583.97px;
  width: 470px;
}

.contentWrapper {
  width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;
  // grid-template-columns: repeat(3, 1fr);
  // grid-gap: 40px;
  align-content: center;
  justify-content: center;
}

.card {
  max-width: 670px;
  height: 583.97px;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  &__img {
  }
}
.card-footer {
  padding: 30px 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__assortment {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    color: #888888;
    padding-bottom: 6px;
  }
  &__heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    font-family: "Playfair Display";
    padding-bottom: 10px;
  }
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0;
  }
}

.div1 {
  grid-area: 1 / 2 / 2 / 5;
}
.div2 {
  grid-area: 2 / 1 / 3 / 4;
}
.div3 {
  grid-area: 2 / 4 / 3 / 5;
}
.div4 {
  grid-area: 3 / 2 / 4 / 5;
}
.div5 {
  grid-area: 3 / 1 / 4 / 2;
  background: url("../../../../public/img/card5img.png");
  border-radius: 8px;
}
.div6 {
  grid-area: 4 / 1 / 5 / 4;
}
.div7 {
  grid-area: 5 / 2 / 6 / 5;
}
.div8 {
  grid-area: 5 / 1 / 6 / 2;
}
.div9 {
  grid-area: 6 / 1 / 7 / 4;
}
.div10 {
  grid-area: 6 / 4 / 7 / 5;
}
.div11 {
  grid-area: 7 / 1 / 8 / 3;
}
.div12 {
  grid-area: 7 / 3 / 8 / 5;
}
