.range-article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 57px;
  gap: 17px;
  &__heading {
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
  }
}

.range-section {
  padding: 15px;
  gap: 30px;
  display: grid;
  width: 1200px;
  grid-template-columns: 470px repeat(2, 70px) 470px;
  grid-template-rows: 1fr 585px repeat(4, 1fr) 651.42px;
}

@media screen and (max-width: 1350px) {
  .range-article {
    padding-top: 47px;
    &__heading {
      font-size: 28px;
      line-height: 36px;
    }
  }
}
@media screen and (max-width: 640px) {
  .range-article {
    padding-top: 37px;
    &__heading {
      font-size: 22px;
      line-height: 28px;
    }
  }
}
